[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim-config"]
	path = nvim-config
	url = git@github.com:ameerabdallah/nvim-config.git
	ignore = dirty
