[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim-config"]
	path = nvim-config
	url = git@github.com:ameerabdallah/nvim-config.git
	ignore = dirty
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
